<app-header></app-header>

<div id="container">
    <app-browse-header (downloadAllTablesAsCsv)="downloadAllTablesAsCsv($event)"></app-browse-header>
    
    <app-search></app-search>


    <!-- Possible tables [participants, biosamples, phenotypes, phenotypes-relationship, ngs-rna, ngs-dna] -->
    <div id="rows">
        <div id="participants">
            <app-table-wrapper type="participants" [exportTableAsCsv$]="downloadAllTablesAsCsv$.asObservable()"></app-table-wrapper>
        </div>
        <div id="biosamples">
            <app-table-wrapper type="biosamples" [exportTableAsCsv$]="downloadAllTablesAsCsv$.asObservable()"></app-table-wrapper>
        </div>
        <div id="phenotypes">
            <app-table-wrapper type="phenotypes" [exportTableAsCsv$]="downloadAllTablesAsCsv$.asObservable()"></app-table-wrapper>
            <app-table-wrapper type="phenotypes-relationship" [exportTableAsCsv$]="downloadAllTablesAsCsv$.asObservable()"></app-table-wrapper>
        </div>
        <div id="ngs">
            <app-table-wrapper type="ngs-rna" [exportTableAsCsv$]="downloadAllTablesAsCsv$.asObservable()"></app-table-wrapper>
            <app-table-wrapper type="ngs-dna" [exportTableAsCsv$]="downloadAllTablesAsCsv$.asObservable()"></app-table-wrapper>
        </div>
    </div>

</div>    
