<div id="table-header">
    <div id="title">
        {{title}}
    </div>
    <div id="menu">
        <img id="filter" src="assets/images/icons/filter.png">
        <app-separator [height]="12" [hidden]="hideSelect"></app-separator>
        <p [hidden]="hideSelect">Show</p>
        <!--not working the [hidden]-->
        <div [hidden]="hideSelect">
            <ng-select
                [hidden]="hideSelect" 
                [items]="visibleColumns$ | async"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="false"
                (change)="onChange($event)"
                bindLabel="name"
                appendTo="body"
                placeholder="All columns"s
                [(ngModel)]="selectedColumns">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                </ng-template>
            </ng-select>
        </div>
        <!-- <select [hidden]="hideSelect" multiple="multiple">
            <option *ngFor="let column of visibleColumns$ | async">{{column.name}}</option>
        </select> -->

        <app-separator [height]="12"></app-separator>
        <img (click)="exportCsv()" id="download" src="assets/images/icons/download.png">
        <app-separator [height]="12"></app-separator>

        <div id="pagination">
            <img id="previousPag" src="assets/images/icons/pagination.png">
            <p>1</p>
            <p>1</p>
            <p>1</p>
            <p>1</p>
            <p>1</p>
            <img id="nextPag" src="assets/images/icons/pagination.png">
        </div>
    </div>
</div>