:host {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

#title {
    font-size: 18px;
    color: var(--brand-blue);
    font-weight: 700;
}

#icons {
    display: grid;
    justify-content: end;
    grid-template-columns: min-content min-content;
    margin-right: 1rem;
}

#icons img {
    height: var(--icon-height);
    width: var(--icon-width);
    margin: 1rem;
    cursor: pointer;
}