<div>
    <p>Participant Stalicla ID</p>
    <input id="input-id" placeholder="Participant Stalicla ID">
</div>

<div>
    <p>ASD Phen</p>
    <select id="select-asd-phen">
        <option hidden selected>--</option>
        <!-- <option [value]="item" *ngFor="let item of list">{{item}}</option> -->
    </select>
</div>

<div>
    <p>Phenotype</p>
    <input id="input-phenotype" placeholder="Phenotype name">
</div>

<div>
    <p>Gender</p>
    <select id="select-gender">
        <option [value]="gender" *ngFor="let gender of genders$ | async">{{gender.name}}</option>
    </select>
</div>

<div>
    <p>Questionnaire</p>
    <select id="select-questionnaire">

    </select>
</div>

<div id="buttom-menu">
    <label class="text">Biosample</label><input type="checkbox" id="checkbox">
</div>